<a href="https://colab.research.google.com/github/rstvwxyz/dasarpython/blob/main/latihan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
print(a)

1

In [ ]:
#menghitung luas persegi panjang
p=8
l=5
luas=p*l
print('panjangnya :',p)
print('lebarnya :',l)
print('luasnya :',luas)

panjangnya : 8
lebarnya : 5
luasnya : 40

In [ ]:
#menghitung luas persegi panjang
panjang = float(input('masukkan panjang '))
lebar = float(input('masukkan lebar '))
luas = panjang*lebar
print('luasnya adalah',luas)

masukkan panjang 7.8
masukkan lebar 3.5
luasnya adalah 27.3

In [ ]:
def myfunc():
 global x
x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [ ]:
nama = "Demplon"
print("Nama Kamu Adalah " + nama)
print("Nama Kamu Adalah",nama)

Nama Kamu Adalah Demplon
Nama Kamu Adalah Demplon

In [ ]:
#penulisan variabel
myvar = "Fahra Ragita Musyafa"
my_var = "Fahra Ragita Musyafa"
_my_var = "Fahra Ragita Musyafa"
myVar = "Fahra Ragita Musyafa"
MYVAR = "Fahra Ragita Musyafa"
myvar2 = "Fahra Ragita Musyafa"

In [ ]:
#contoh if else
nilai=3
if(nilai>7):
  print('selamat kita lulus')
else:
  print('maaf kita tidak lulus')

maaf kita tidak lulus

In [ ]:
x = 3
y = 'kelas'
print(x)
print(y)

3
kelas

In [ ]:
gorengan = ["Bala Bala", "Gehu", "Comro"]
x, y, z = gorengan
print(x)
print(y)
print(z)

Bala Bala
Gehu
Comro

In [3]:
#Cetak Data (print)
print("2+3")
print(2+3)
print("2"+"3")

2+3
5
23

In [9]:
#Pemberian Nilai Data (Assignment)
bil1 = 10
bil2 = 5
jumlah = bil1 + bil2
jumlah

15

In [16]:
bil1 = 10
print(bil1)
bil1 = 5
print(bil1)

10
5

In [15]:
bil1 = 10
bil2 = 5
bil2
jumlah = bil1 + bil2
jumlah

15

In [12]:
#Banyak Nilai untuk Satu Variabel (Array)
data = [10,9,7,8,10,8]
print(data[1])
data[2] = 10
print(data)
data.append(9)
print(data)

9
[10, 9, 10, 8, 10, 8]
[10, 9, 10, 8, 10, 8, 9]

In [32]:
#Penelusuran Data/Pengulangan (Loop: for)
data = [10,9,7,8,10,8]
indeks = 0
for elemen in data:
    print("Elemen ke ", indeks, "=", elemen)
    indeks = indeks + 1

Elemen ke  0 = 10
Elemen ke  1 = 9
Elemen ke  2 = 7
Elemen ke  3 = 8
Elemen ke  4 = 10
Elemen ke  5 = 8

In [41]:
#Uji Kondisi (Branch:try)
data = [10, 9, "cindi", 4, "8"]
for x in data:
  print(x/2)

5.0
4.5

TypeError: ignored

In [43]:
data = [10, 9, "Cindi", 4, "8"]
for x in data:
  try:
    print(x / 2)
  except:
    print("Bukan bilangan")

5.0
4.5
Bukan bilangan
2.0
Bukan bilangan