<a href="https://colab.research.google.com/github/rstvwxyz/dasarpython/blob/main/latihan1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# perintah program/pernyataan (statement)
# perintah untuk memasukkan nilai 13 ke dalam variabel a
a =  3
#perintah untuk menampilkan nilai a dengan fungsi print()
print(a)

3

In [1]:
print("2+3")

2+3

In [2]:
print(2+3)

5

In [3]:
print("2"+"3")

23

In [ ]:
#perintah untuk melakukan perulangan menggunakan kata kunci for
for i in range(3):
  print(i)

0
1
2

In [ ]:
#perintah yang ditulis dalam satu baris
#a=13; b=26; c=39
a=13
b=26
c=39
print((a*b)-c)

299

In [ ]:
#satu perintah yang ditulis dalam dua baris menggunakan operator backslash(/)
a=(2*5)\
  /3

In [ ]:
#tanda backslash tidak diperlukan jika perintah diawali dengan tanda (,{,[ contoh :
mytuple=(
    10,20,
    30,40,
    50,60
    )
mydict={
    'satu':1,
    'dua':2,
    'tiga':3,
}
mylist=[
    100,200,300
]
print('{}\n{}\n{}'.format(
    mytuple,
    mylist,
    mydict
))

(10, 20, 30, 40, 50, 60)
[100, 200, 300]
{'satu': 1, 'dua': 2, 'tiga': 3}