<a href="https://colab.research.google.com/github/rstvwxyz/dasarpython/blob/main/percabangan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# percabangan if
angka = int(input("Masukkan angka "))
if angka > 0:
  print(angka, "adalah bilangan positif")

Masukkan angka -8

In [ ]:
# percabangan if ... else
angka = int(input("Masukkan angka "))
if angka > 0:
  print(angka, "adalah bilangan positif")
else:
   print(angka, "adalah bilangan negatif")

In [ ]:
bil1 = int(input("Masukkan bil1 : "))
bil2 = int(input("Masukkan bil2 : "))

if bil1 > bil2:
  print(bil1, "lebih besar dari", bil2)
else:
   print(bil2, "lebih kecil dari", bil1)

Masukkan bil1 : 20
Masukkan bil2 : 10
20 lebih besar dari 10

In [ ]:
bil1 = int(input("Masukkan bil1 : "))
bil2 = int(input("Masukkan bil2 : "))

if bil1 > bil2:
  print("bilangan", bil1, "lebih besar dari bilangan", bil2)
elif bil1 < bil2:
  print("bilangan", bil1, "lebih kecil dari bilangan", bil2)
else:
   print("bilangan", bil1, "sama dengan bilangan", bil2)

Masukkan bil1 : 23
Masukkan bil2 : 23
bilangan 23 sama dengan bilangan 23

In [ ]:
# percabangan if .. elif .. else
usia = int(input("Masukkan usia Anda "))

if usia<=5:
  print("Masa Batita")
elif usia<=12:
  print("Masa Anak-anak")
elif usia<=17:
  print("Masa Remaja Awal")
elif usia<=25:
  print("Masa Remaja Akhir")
elif usia<=60:
  print("Masa Dewasa")
else:
  print("Masa Lansia")

Masukkan usia Anda 27
Masa Dewasa

In [ ]:
# percabangan bertingkat
nilai = int(input('Masukkan nilai: '))
usia = int(input('Masukkan usia: '))

if nilai >= 75:
  if (usia < 15):
    print('Selamat adek, kamu lulus!')
  else:
    print('Selamat kakak, kamu lulus!')
else:
  if (usia < 15):
    print('Mohon maaf dek, coba lagi ya!')
  else:
    print('Mohon maaf kak, coba lagi ya!')

Masukkan nilai: 75
Masukkan usia: 14
Selamat adek, kamu lulus!

In [ ]:
#mencari angka terbesar
a = int(input('Masukkan nilai a: '))
b = int(input('Masukkan nilai b: '))
c = int(input('Masukkan nilai c: '))

if a > b and a > c:
  print('A yang terbesar')
elif b > a and b > c:
  print('B yang terbesar')
else:
  print('C yang terbesar')

Masukkan nilai a: 4
Masukkan nilai b: 90
Masukkan nilai c: 30
B yang terbesar

In [ ]:
a = int(input('Masukkan nilai a: '))
b = int(input('Masukkan nilai b: '))
c = int(input('Masukkan nilai c: '))

if a < b and a < c:
  print('A yang terkecil')
elif b < a and b < c:
  print('B yang terkecil')
else:
  print('C yang terkecil')

Masukkan nilai a: 19
Masukkan nilai b: 45
Masukkan nilai c: 2
C yang terkecil

In [ ]:
nilai = int(input('Masukkan nilai: '))

if nilai >= 90:
  print('Predikat A')
elif nilai >= 80:
  print('Predikat B')
elif nilai >= 60:
  print('Predikat C')
elif nilai >= 40:
  print('Predikat D')
else:
  print('Predikat E')

Masukkan nilai: 40
Predikat D

In [ ]:
# percabangan if .. elif .. else
imt = float(input("Masukkan IMT Anda : "))

if imt >= 30:
  print("Obesitas")
elif imt >= 25:
  print("Berat Badan Berlebih")
elif imt >= 18.5:
  print("Berat Badan Normal")
else:
  print("Berat Badan di bawah Normal")

Masukkan IMT Anda : 17.6
Berat Badan di bawah Normal

In [ ]:
# percabangan if .. elif .. else
imt = float(input("Masukkan IMT Anda : "))

if (imt >= 30):
  print("Obesitas")
elif (imt >=25) and (imt < 30):
  print("Berat Badan Berlebih")
elif (imt >= 18.5) and (imt <25):
  print("Berat Badan Normal")
else:
  print("Berat Badan di bawah Normal")

Masukkan IMT Anda : 34
Obesitas

In [14]:
jarak = int(input('Masukkan jarak : '))
harga_tiket = int(input('Masukkan harga tiket : '))

if jarak > 250 or harga_tiket > 500000:
  harga_beli = harga_tiket*0.5
  print('Harga tiket pembeliannya : ', harga_beli)
elif jarak > 150 or harga_tiket > 300000:
  harga_beli = harga_tiket*0.7
  print('Harga tiket pembeliannya : ', harga_beli)
else:
  harga_beli = harga_tiket
  print('Harga tiket pembeliannya : ', harga_beli)

Masukkan jarak : 150
Masukkan harga tiket : 100000
Harga tiket pembeliannya :  100000

In [5]:
def calculator_tambah(angka1, angka2):
  hasil = angka1 + angka2
  print(hasil)

calculator_tambah(10, 30)

40

In [ ]:
import cv2
import numpy as np
import glob
import os
import matplotlib.pyplot as plt

In [7]:
import pandas

data = [10, 0, 7, 8, 10]
siswa = ["Andi", "Budi", "Cindi", "Dedy", "Edi"]

nilai = pandas.DataFrame({
    "Nama": siswa,
    "Nilai": data
})
nilai

    Nama  Nilai
0   Andi     10
1   Budi      0
2  Cindi      7
3   Dedy      8
4    Edi     10

In [9]:
import pandas as pd
import numpy as np

dict = {"Negara": ["Indonesia", "Jepang", "India", "China", "Amerika Serikat"],
        "Ibu Kota": ["Jakarta", "Tokyo", "New Dehli", "Beijing", "Washington, D.C"],
        "Luas": [1905, 377972, 3287, 9597, 9834], 
        "Populasi": [264, 143, 1252, 1357, 5298]}

df = pd.DataFrame(dict)

print(df)

            Negara         Ibu Kota    Luas  Populasi
0        Indonesia          Jakarta    1905       264
1           Jepang            Tokyo  377972       143
2            India        New Dehli    3287      1252
3            China          Beijing    9597      1357
4  Amerika Serikat  Washington, D.C    9834      5298