<a href="https://colab.research.google.com/github/rstvwxyz/dasarpython/blob/main/percabangan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# percabangan if
angka = int(input("Masukkan angka "))
if angka > 0:
  print(angka, "adalah bilangan positif")

Masukkan angka -8

In [ ]:
# percabangan if ... else
angka = int(input("Masukkan angka "))
if angka > 0:
  print(angka, "adalah bilangan positif")
else:
   print(angka, "adalah bilangan negatif")

In [ ]:
bil1 = int(input("Masukkan bil1 : "))
bil2 = int(input("Masukkan bil2 : "))

if bil1 > bil2:
  print(bil1, "lebih besar dari", bil2)
else:
   print(bil2, "lebih kecil dari", bil1)

Masukkan bil1 : 20
Masukkan bil2 : 10
20 lebih besar dari 10

In [ ]:
bil1 = int(input("Masukkan bil1 : "))
bil2 = int(input("Masukkan bil2 : "))

if bil1 > bil2:
  print("bilangan", bil1, "lebih besar dari bilangan", bil2)
elif bil1 < bil2:
  print("bilangan", bil1, "lebih kecil dari bilangan", bil2)
else:
   print("bilangan", bil1, "sama dengan bilangan", bil2)

Masukkan bil1 : 23
Masukkan bil2 : 23
bilangan 23 sama dengan bilangan 23

In [ ]:
# percabangan if .. elif .. else
usia = int(input("Masukkan usia Anda "))

if usia<=5:
  print("Masa Batita")
elif usia<=12:
  print("Masa Anak-anak")
elif usia<=17:
  print("Masa Remaja Awal")
elif usia<=25:
  print("Masa Remaja Akhir")
elif usia<=60:
  print("Masa Dewasa")
else:
  print("Masa Lansia")

Masukkan usia Anda 27
Masa Dewasa

In [ ]:
# percabangan bertingkat
nilai = int(input('Masukkan nilai: '))
usia = int(input('Masukkan usia: '))

if nilai >= 75:
  if (usia < 15):
    print('Selamat adek, kamu lulus!')
  else:
    print('Selamat kakak, kamu lulus!')
else:
  if (usia < 15):
    print('Mohon maaf dek, coba lagi ya!')
  else:
    print('Mohon maaf kak, coba lagi ya!')

Masukkan nilai: 75
Masukkan usia: 14
Selamat adek, kamu lulus!

In [ ]:
#mencari angka terbesar
a = int(input('Masukkan nilai a: '))
b = int(input('Masukkan nilai b: '))
c = int(input('Masukkan nilai c: '))

if a > b and a > c:
  print('A yang terbesar')
elif b > a and b > c:
  print('B yang terbesar')
else:
  print('C yang terbesar')

Masukkan nilai a: 4
Masukkan nilai b: 90
Masukkan nilai c: 30
B yang terbesar

In [ ]:
a = int(input('Masukkan nilai a: '))
b = int(input('Masukkan nilai b: '))
c = int(input('Masukkan nilai c: '))

if a < b and a < c:
  print('A yang terkecil')
elif b < a and b < c:
  print('B yang terkecil')
else:
  print('C yang terkecil')

Masukkan nilai a: 19
Masukkan nilai b: 45
Masukkan nilai c: 2
C yang terkecil

In [ ]:
nilai = int(input('Masukkan nilai: '))

if nilai >= 90:
  print('Predikat A')
elif nilai >= 80:
  print('Predikat B')
elif nilai >= 60:
  print('Predikat C')
elif nilai >= 40:
  print('Predikat D')
else:
  print('Predikat E')

Masukkan nilai: 40
Predikat D

In [ ]:
# percabangan if .. elif .. else
imt = float(input("Masukkan IMT Anda : "))

if imt >= 30:
  print("Obesitas")
elif imt >= 25:
  print("Berat Badan Berlebih")
elif imt >= 18.5:
  print("Berat Badan Normal")
else:
  print("Berat Badan di bawah Normal")

Masukkan IMT Anda : 17.6
Berat Badan di bawah Normal

In [ ]:
# percabangan if .. elif .. else
imt = float(input("Masukkan IMT Anda : "))

if (imt >= 30):
  print("Obesitas")
elif (imt >=25) and (imt < 30):
  print("Berat Badan Berlebih")
elif (imt >= 18.5) and (imt <25):
  print("Berat Badan Normal")
else:
  print("Berat Badan di bawah Normal")

Masukkan IMT Anda : 34
Obesitas

In [6]:
jarak = int(input('Masukkan jarak : '))
harga_tiket = int(input('Masukkan harga tiket : '))

if (jarak > 250) or (harga_tiket > 500000):
  harga_beli = harga_tiket*0.5
  print('Harga tiket pembeliannya : ', harga_beli)
elif (jarak > 150) or (harga_tiket > 300000):
  harga_beli = harga_tiket*0.7
  print('Harga tiket pembeliannya : ', harga_beli)
else:
  harga_beli = harga_tiket
  print('Harga tiket pembeliannya : ', harga_beli)

Masukkan jarak : 100
Masukkan harga tiket : 150000
Harga tiket pembeliannya :  150000

Perulangan While

var = 0
while kondisi:
	# program yang akan diulang
	increment

In [9]:
i = 9
while i >= 8:
     print('EdiKartono.Com',i)
     i -= 1

EdiKartono.Com 9
EdiKartono.Com 8

In [11]:
i = 1
while i <= 8:
     print('EdiKartono.Com',i)
     i += 1

EdiKartono.Com 1
EdiKartono.Com 2
EdiKartono.Com 3
EdiKartono.Com 4
EdiKartono.Com 5
EdiKartono.Com 6
EdiKartono.Com 7
EdiKartono.Com 8

Kelipatan 3

In [12]:
var = 3
while var < 100:
   print(var)    
   var = var + 3

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

Perulangan For

In [15]:
buah = ['Mangga','Jambu','Pepaya','Nanas','Pisang','Pepaya']
for n in buah:
  print(n)

Pepaya
Mangga
Jambu
Nanas
Pisang

In [17]:
#Dalam bahasa python tipe data string merupakan sebuah array

var = 'Belajar'
for n in var:
  print(n)

B
e
l
a
j
a
r

In [26]:
#fungsi range dapat digunakan untuk membuat deret angka yang menjadi inputan kedalam perulangan for

for n in range(4):
  print(n)

0
1
2
3

In [25]:
#mengatur jangkauan
 
for n in range(10,15):
  print(n)

10
11
12
13
14

In [24]:
# membuat deret angka 2 sampai 10 diamana setiap angka akan naik atau di tambah 2 angka

for n in range(2,10,2):
  print(n)

2
4
6
8

In [13]:
def calculator_tambah(angka1, angka2):
  hasil = angka1 + angka2
  print("hasil dari", angka1, "+" , angka2, "=", hasil)

calculator_tambah(10, 30)

hasil dari 10 + 30 = 40

In [10]:
angka1 = int(input("masukkan angka 1 :"))
angka2 = int(input("masukkan angka 2 :"))

def calculator_tambah(angka1, angka2):
  hasil = angka1 + angka2
  print(hasil)

calculator_tambah(angka1, angka2)

masukkan angka 1 :10
masukkan angka 2 :30
40

In [ ]:
import cv2
import numpy as np
import glob
import os
import matplotlib.pyplot as plt

In [ ]:
import pandas

data = [10, 0, 7, 8, 10]
siswa = ["Andi", "Budi", "Cindi", "Dedy", "Edi"]

nilai = pandas.DataFrame({
    "Nama": siswa,
    "Nilai": data
})
nilai

    Nama  Nilai
0   Andi     10
1   Budi      0
2  Cindi      7
3   Dedy      8
4    Edi     10

In [ ]:
import pandas as pd
import numpy as np

dict = {"Negara": ["Indonesia", "Jepang", "India", "China", "Amerika Serikat"],
        "Ibu Kota": ["Jakarta", "Tokyo", "New Dehli", "Beijing", "Washington, D.C"],
        "Luas": [1905, 377972, 3287, 9597, 9834], 
        "Populasi": [264, 143, 1252, 1357, 5298]}

df = pd.DataFrame(dict)

print(df)

            Negara         Ibu Kota    Luas  Populasi
0        Indonesia          Jakarta    1905       264
1           Jepang            Tokyo  377972       143
2            India        New Dehli    3287      1252
3            China          Beijing    9597      1357
4  Amerika Serikat  Washington, D.C    9834      5298